<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blood Donation App{% endblock %}</title>
	<script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>
<body>
    <header>
        <h1>Blood Donation App</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('signup') }}">Sign Up</a>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Content will be injected here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Blood Donation App</p>
    </footer>
</body>
</html>
