{% extends "base.html" %}
{% block content %}
<h2>Login</h2>
<form hx-post="{{ url_for('login') }}" hx-target="#result" hx-swap="innerHTML">
	<div id="result"></div> <!-- This will be replaced with HTMX -->

	<div class="form-floating mb-3">
		<input type="username" class="form-control" name="username" id="floatingInput" placeholder="username">
		<label for="floatingInput">Username</label>
	</div>

	<div class="form-floating">
		<input type="password" class="form-control" name="password" id="floatingPassword" placeholder="password">
		<label for="floatingPassword">Password</label>
	</div>

	<div style="text-align: right; margin-top: 10px;">
		<button type="submit" style="width: 100px;" class="btn btn-primary">Login</button>
	</div>
</form>

{% endblock %}
